[submodule "vim/.vim/pack/plugins/start/vim_current_word"]
	path = vim/.vim/pack/plugins/start/vim_current_word
	url = https://github.com/dominikduda/vim_current_word.git
[submodule "vim/.vim/pack/tpope/start"]
	path = vim/.vim/pack/tpope/start
	url = https://tpope.io/vim/sensible.git
[submodule "vim/.vim/pack/plugins/start/vim-better-whitespace"]
	path = vim/.vim/pack/plugins/start/vim-better-whitespace
	url = git://github.com/ntpeters/vim-better-whitespace.git
[submodule "vim/.vim/pack/colors/opt/papercolor-theme"]
	path = vim/.vim/pack/colors/opt/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "vim/.vim/pack/dist/start/vim-airline"]
	path = vim/.vim/pack/dist/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/.vim/pack/dist/start/vim-airline-themes"]
	path = vim/.vim/pack/dist/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bash/.liquidprompt"]
	path = bash/.liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
